<mat-card>
    <mat-card-title>Add Product</mat-card-title>
<mat-card-content>
<form [formGroup]="form" (ngSubmit)="submit()">
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="Product Name" formControlName="productname" required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="Image Link" formControlName="imagelink" required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="Discription" formControlName="description" required>
    </mat-form-field>
  </p>  

  <p>
    <mat-form-field>
      <input type="date" matInput placeholder="Expiry Date" formControlName="expirydate" required>
    </mat-form-field>
  </p>

  <p *ngIf="error" class="error">
    {{ error }}
  </p>

  <div class="button">
    <button type="submit" mat-button>Add Your Product</button>
    <button type="submit" [routerLink] = "['/dashboard']" mat-button>View Your Products</button>
  </div>

</form>
</mat-card-content>
</mat-card>
